{% load filters %}
{{contact_name | title | fix_last_first}}
{{contact_address | title }}
{{contact_city | title}}, {{contact_state | upper}}  {{contact_zip}}

Dear {{contact_name | title | fix_last_first | first_name }}:

<b>VIOLATION REPORT FOR {{name}}</b>

SafeWater Athens is working to improve the quality of drinking water for people living in the Athens area, including both Clarke and Oconee counties. We compile information from various government sources and the public into reports. Our goal for these reports is to raise awareness about the quality of the water our municipal and private drinking water systems.

The enclosed Violations Report includes details about the <b>{{reports | length}}</b> reported violation{{reports | pluralize}} we have compiled about <b>{{name}}</b> using sources such as the US Environmental Protection Agency.

Additional information about the SafeWater Athens project can be found on the web at {{letter_url}}

SafeWater Athens
