
The EPA has reported the following violations for your public water supply:

<seqreset id='report'>

{% for report in report_set %}
<seq id='report'/> - <b>{{report.summary}}</b>, {{report.status}}<br></br>
    {{report.description}}
<p/>
{% endfor %}

