{% load filters %}
{{pws_affected.contact_name | title | fix_last_first}}
{{pws_affected.contact_address | title }}
{{pws_affected.contact_city | title}}, {{pws_affected.contact_state | upper}}  {{pws_affected.contact_zip}}

Dear {{pws_affected.contact_name | title | fix_last_first | first_name }}:

<b>VIOLATION REPORT FOR {{pws_affected.name}}</b>

Sed ut perspiciatis unde omnis iste natus error sit voluptatem
accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
ab illo inventore veritatis et quasi architecto beatae vitae dicta
sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
qui ratione voluptatem sequi nesciunt.

Neque porro quisquam est, qui
dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
quia non numquam eius.

Sincerely,



Jon W Public

JWP:blc
