amqp==1.0.13
anyjson==0.3.3
argh==0.23.1
argparse==1.2.1
billiard==2.7.3.34
celery==3.0.24
chromelogger==0.3.0
distribute==0.6.34
Django==1.5.1
django-allauth==0.10.1
django-analytical==0.15.0
django-celery==3.0.23
django-extensions==1.1.1
django-filter==0.6
djangorestframework==2.3.2
facebook-sdk==0.4.0
gunicorn==0.17.4
httplib2==0.8
jsonpickle==0.4.0
kombu==2.5.15
meld3==0.6.10
MySQL-python==1.2.4
nodeenv==0.6.5
numpy==1.7.1
oauth2==1.5.211
oauthlib==0.4.0
pandas==0.12.0
pathtools==0.1.2
PIL==1.1.7
python-dateutil==2.1
python-openid==2.2.5
pytz==2013.7
PyYAML==3.10
redis==2.8
reportlab==2.7
requests==2.0.0
requests-oauthlib==0.3.2
simplejson==3.2.0
six==1.3.0
South==0.7.6
supervisor==3.0b1
twython==3.1.0
vincent==0.3.0
watchdog==0.6.0
Werkzeug==0.8.3
wsgiref==0.1.2
